asn1crypto==0.24.0
astroid==2.3.3
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
editdistance==0.5.3
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
MIDIUtil==1.2.1
nltk==3.6.6
numpy==1.22.0
pandas==1.0.1
pylint==2.4.4
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
selenium==3.141.0
six==1.14.0
soupsieve==2.0
tqdm==4.45.0
urllib3==1.25.8
wrapt==1.11.1
